<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style type="text/css" media="screen">
        body{
            margin: 0;
            padding: 0;
        }
        .container .ul li{
            width: 100px;
            height: 20px;
            /*background: #eee;*/
            margin-bottom: 10px;
            list-style: none;
        }
        .container{
            border: 1px solid #000;
        }
        .container:hover{
            background: #1b1e21;
        }
        li:hover{
            background: green;
        }
    </style>
</head>
<body>
<div class="container">
    <ul class="ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>